<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <script src="//use.typekit.net/ddc2kzv.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>

    <%= javascript_include_tag "modernizr" %>
    <%= javascript_include_tag  "all" %>
    <%= stylesheet_link_tag "all" %>
    <title>Art Services<%= ' - ' + current_article.title unless current_article.nil? %></title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
  </head>
  <body onload="$(document).foundation();">
    <div class="off-canvas-wrap" data-offcanvas>
    <div class="inner-wrap">

    <nav class="tab-bar show-for-small">
      <a class="left-off-canvas-toggle menu-icon" href="#">
        <span>ArtServices</span>
      </a>
    </nav>
    <aside class="left-off-canvas-menu">
      <ul class="off-canvas-list">
        <%= partial "menu" %>
      </ul>
    </aside>


    <div class="wrapper">

      <div class="large-3 medium-4 columns">
        <div class="hide-for-small">
          <div class="sidebar">
            <img src="/images/FineArtLogo300dpi.png">
            <nav>
              <ul class="side-nav">
                <%= partial "menu" %>
              </ul>
            </nav>
          </div>
        </div>
      </div>

      <div class="large-9 medium-8 columns">    

        <div id="main" role="main">
          <%= yield %>
        </div>
      
      </div>

    </div>

      <a class="exit-off-canvas"></a>
      
    </div>
    </div>

  </body>
</html>
