<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <%= javascript_include_tag "modernizr" %>
    <%= javascript_include_tag  "all" %>
    <%= stylesheet_link_tag "all" %>
    <title>Blog Title<%= ' - ' + current_article.title unless current_article.nil? %></title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
  </head>
  <body onload="$(document).foundation();">
    <div class="off-canvas-wrap" data-offcanvas>
      <div class="inner-wrap">

        <a class="left-off-canvas-toggle" href="#" >Menu</a>

        <!-- Off Canvas Menu -->
        <nav class="left-off-canvas-menu">
          <ul class="off-canvas-list">
            <li><label>Foundation</label></li>
            <li><a href="#">The Psychohistorians</a></li>
            <li><a href="#">The Encyclopedists</a></li>
            <li><a href="#">The Mayors</a></li>
            <li><a href="#">The Traders</a></li>
            <li><a href="#">The Merchant Princes</a></li>
          </ul>
        </nav>
        <!-- main content goes here -->
        <p>Set in the year 0 F.E. ("Foundation Era"), The Psychohistorians opens on Trantor, the capital of the 12,000-year-old Galactic Empire. Though the empire appears stable and powerful, it is slowly decaying in ways that parallel the decline of the Western Roman Empire. Hari Seldon, a mathematician and psychologist, has developed psychohistory, a new field of science and psychology that equates all possibilities in large societies to mathematics, allowing for the prediction of future events.</p>

      <!-- close the off-canvas menu -->
      <a class="exit-off-canvas"></a>

      </div>
    </div>
  </body>
</html>
